<!DOCTYPE html>
<html> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	<title>Notespace</title>
	<link rel="icon" href="/public/img/fevicon.png" type="image/png" sizes="32x32">
	
	<link href="/public/assets/editstyle.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="editdiv">
        <img class="logo" src="/public/img/logo_white.svg"/>
        <textarea rows="4" placeholder="What is in your mind?!" class="edit" id="edit"><%= value %></textarea>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var typingTimer;
    var doneTypingInterval = 2000; 
    var $input = $('.edit');
    $input.on('keyup', function () {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(doneTyping, doneTypingInterval);
    });
    $input.on('keydown', function () {
        clearTimeout(typingTimer);
    });
    function doneTyping () {
        fetch("https://notespace-itzzritik.c9users.io/save", {
            method : "POST",
            body : JSON.stringify({
                path : "<%= token %>",
                value : $('.edit').val()
            })
        }).then(
            response => response.text() // .json(), etc.
            // same as function(response) {return response.text();}
        ).then(
            html => console.log(html)
        );
    }
</script>
</html>
