<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>Notespace</title>
    <link rel="icon" href="/public/img/fevicon.png" type="image/png" sizes="32x32">
    <link href="/public/assets/editstyle.css" rel="stylesheet" type="text/css">
    <div class="nav">
        <div class="spinner"></div>
        <img class="logo" src="/public/img/logo_white.svg" />
    </div>
</head>

<body>
    <div class="editor">
        <div class="sidebar">
            <div class="navHead">
                <div class="menu">
                    <a class="menu-link" href="#">
                        <span class="menu-icon">
                            <span class="menu-line menu-line-1"></span> 
                            <span class="menu-line menu-line-2"></span> 
                            <span class="menu-line menu-line-3"></span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <textarea class="edit" rows="4" placeholder="What is in your mind?!" id="edit"><%= value %></textarea>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/public/assets/editscript.js"></script>
<script>
    var typingTimer;
    var doneTypingInterval = 500;
    var $input = $('.edit');
    $input.on('keyup', function () {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(doneTyping, doneTypingInterval);
    });
    $input.on('keydown', function () {
        clearTimeout(typingTimer);
    });

    function doneTyping() {
        $('.spinner').css("display", "block");
        const http = new XMLHttpRequest()
        http.open('POST', '/save')
        http.setRequestHeader('Content-type', 'application/json')
        http.onload = function () {
            console.log('done');
            $('.spinner').css("display", "none");
        }
        http.send(JSON.stringify({
            path: "<%= token %>",
            value: "" + $('.edit').val()
        }))
    }
</script>

</html>