<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Notespace</title>
    <link rel="icon" href="/public/img/fevicon.png" type="image/png" sizes="32x32">
    <link href="/public/assets/editstyle.css" rel="stylesheet" type="text/css">
    <div class="nav">
        <span class="ripple"></span>
        <img class="logo" src="/public/img/logo_white.svg" />
    </div>
</head>
<body>
    <div class="editor">
        <div class="sidebar">
            <div class="navHead">
                <span class="navTitle">NOTES</span>
                <div class="menu"><div class="menu-link"><span class="menu-icon">
                        <span class="menu-line menu-line-1"></span> <span class="menu-line menu-line-2"></span> <span class="menu-line menu-line-3"></span>
                </span></div></div>
            </div>
            <div class="tabs">   
                <div class="newTabPane"><div class="newTab">
                    <span class="plus-icon"><span class="menu-line new-line-1"></span> <span class="menu-line new-line-2"></span>
                </div></div>   
            </div>
        </div>
        <div class="edit"></div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/monaco-editor/min/vs/loader.js"></script>
<script src="/public/assets/editscript.js"></script>
</html>