<!DOCTYPE html>
<html> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	<title>NoteSpace</title>
	<link href="/public/assets/editstyle.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="nav">
		
	</div>
</body>
</html>
