<!DOCTYPE html>
<html> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	<title>Notespace</title>
	<link rel="icon" href="/public/img/fevicon.png" type="image/png" sizes="32x32">
	
	<link href="/public/assets/editstyle.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="editdiv">
        <img class="logo" src="/public/img/logo_white.svg"/>
        <textarea rows="4" placeholder="What is in your mind?!" class="edit" id="edit"><%= vale %></textarea>
    </div>
</body>
</html>
