@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway:500");
:root {
    --nav_height: 50px;
    --nav_color: #3c3c3c;
    --sidebar_color: #2d2d2d;
}
body,
html {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1DA1F2;
}

.nav {
    position: fixed;
    width: 100%;
    height: var(--nav_height);
    background: var(--nav_color);
}

.editor {
    position: absolute;
    width: calc(100vw + 200px);
    right: 0;
    height: 100vh;
}
.editor.open{
    margin-right: -200px; 
}
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(200px + var(--nav_height));
    height: 100%;
    background-color: var(--sidebar_color);
}
.sidebar .navHead{
    width: 100%;
    height: var(--nav_height);
    background: var(--nav_color);
}

.edit {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - var(--nav_height));
    height: calc(100vh - var(--nav_height));
    margin-top: var(--nav_height); 
    margin-left: calc(200px + var(--nav_height));
    padding: 2%;
    box-sizing: border-box;
    border-color: transparent;
    background-color: #1E1E1E;
    resize: none;
    outline: none;
    color: #fff;
    font-size: 16px;
}

.logo {
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 0;
    left: 50%;
    margin-left: -2.5vh;
    margin-top: 1.5vh;
}

.spinner {
    display: none;
    position: absolute;
    width: 7vh;
    height: 7vh;
    top: 0;
    left: 50%;
    margin-left: -4.4vh;
    margin-top: 0.7vh;
    border: 6px solid #fff;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 0.6s infinite ease-in-out;
    animation: sk-scaleout 0.6s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

/* Menu Button */
.menu {
	position: absolute;
    right: 0;
    width: var(--nav_height);
    height: var(--nav_height);
    background-color: var(--sidebar_color);
}
.menu-link {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1002;
}
.menu-icon {
	position: absolute;
	width: 20px;
	height: 14px;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 1px;
}
.menu-line {
	background-color: #eee;
	height: 2px;
	width: 100%;
	border-radius: 2px;
	position: absolute;
	left: 0;
	transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menu-line-1 {
	top: 0;
}
.menu-line-2 {
	top: 0;
	bottom: 0;
	margin: auto;
}
.menu-line-3 {
	bottom: 0;
}
.menu.open .menu-line-1 {
	transform: translateY(7px) translateY(-50%) rotate(-135deg);
}
.menu.open .menu-line-2 {
	opacity: 0;
}
.menu.open .menu-line-3 {
	transform: translateY(-7px) translateY(50%) rotate(135deg);
}

/* Menu Button */