@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway:500");
:root {
    --nav_height: 40px;
    --nav_color: #3c3c3c;
    --sidebar_color: #2d2d2d;
    --sidebar_white_color: #eee;
}
body,
html {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--sidebar_color);
}

.nav {
    position: fixed;
    width: 100%;
    height: var(--nav_height);
    background: var(--nav_color);
}

.ripple {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333;
    border-radius: calc(var(--nav_height) / 2);
    transform: scaleX(0);
    opacity: 0;
}
.ripple.animate {
    animation: ripple 0.4s infinite linear;
}
@keyframes ripple {
    30%{
        opacity: 1;
        transform: scaleX(0.3);
    }
    100% {
        opacity: 0;
        transform: scaleX(2.5);
    }
}

.editor {
    position: absolute;
    width: calc(100vw + 200px);
    right: 0;
    height: 100vh;
    transition: margin-right 0.26s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.editor.open{
    margin-right: -200px; 
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Raleway', Tahoma, Geneva, Verdana, sans-serif;
    width: calc(200px + var(--nav_height));
    height: 100%;
    background-color: var(--sidebar_color);
}
.sidebar .navHead{
    width: 100%;
    height: var(--nav_height);
    background: var(--nav_color);
}
.sidebar .navHead .navTitle{
    position: absolute;
    left: 0;
    width: calc(100% - var(--nav_height));
    height: var(--nav_height);
    text-align: center;
    font-size: 18px;
    color: var(--sidebar_white_color);
    line-height: var(--nav_height);
    user-select: none;
}

.sidebar .tabs .newTabPane{
    width: 100%;
    height: var(--nav_height);
}
.newTab{
    position: absolute;
    right: 0;
    width: var(--nav_height);
    height: var(--nav_height);
    background-color: #007ACC;
    cursor: pointer;
    transition: transform 0.26s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.newTab:active{
    border-radius: calc(var(--nav_height) / 2);
    transform: scale(0.8);
}
.newTab .plus-icon{
    position: absolute;
	width: 14px;
	height: 14px;
    margin: auto;
    left: 0;
	top: calc(50% - 1px);
	right: 0;
}
.newTab .new-line-1{
    transform: rotate(90deg);
}

/* Menu Button */
.menu {
	position: absolute;
    right: 0;
    width: var(--nav_height);
    height: var(--nav_height);
    background-color: var(--sidebar_color);
    transition: transform 0.26s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menu:active{
    border-radius: calc(var(--nav_height) / 2);
    transform: scale(0.8);
}
.menu-link {
	width: 100%;
	height: 100%;
	position: absolute;
    cursor: pointer;
}
.menu-icon {
	position: absolute;
	width: 20px;
	height: 14px;
    margin: auto;
    left: 0;
	top: 0;
	right: 0;
	bottom: 1px;
}
.menu-line {
	background-color: var(--sidebar_white_color);
	height: 2px;
	width: 100%;
	border-radius: 2px;
	position: absolute;
	left: 0;
	transition: all 0.26s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menu-line-1 {
	top: 0;
}
.menu-line-2 {
	top: 0;
	bottom: 0;
	margin: auto;
}
.menu-line-3 {
	bottom: 0;
}
.menu.open .menu-line-1 {
	transform: translateY(7px) translateY(-50%) rotate(-135deg);
}
.menu.open .menu-line-2 {
	opacity: 0;
}
.menu.open .menu-line-3 {
	transform: translateY(-7px) translateY(50%) rotate(135deg);
}
/* Menu Button */

.edit {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - var(--nav_height));
    height: calc(100vh - var(--nav_height));
    margin-top: var(--nav_height); 
    margin-left: calc(200px + var(--nav_height));
}

.logo {
    position: fixed;
    width: calc(var(--nav_height) - 15px);
    height: var(--nav_height);
    left: 50%;
    margin-left: calc(0px - calc(var(--nav_height) / 2));
}